{% extends "base.html" %} {% block body %}

<div class="pageus">
    <div class="center" id="pus">
        <!-- <img src="static/logo.png" class="center logo"></img> -->
        <div class="center logo"></div>
        <h4>EMERGENCY INFO HUB</h4>
        <p>Emergency Info Hub (EIH), Is a central website helps the emergency services to prepare for, respond to & recover from disaster, by providing all needed data for the targeted building (E.g. Number of people, area size and emergency exits).
            <br> <br>The main objective of this project is giving the number of trapped people under rubbles or inside a building, by tracking their number using a simple movement sensor fitted on the main gate and face detection technology, and save
            this number to the cloud to be used when a disaster happens.
        </p>
        <a id="thestory"></a>
        <hr class="style-story">
        <div class="zoom">
        </div>
        <p>
            The story of EIH started at that day when this photo was taken (the website background), back to 2012 during the Syrian war,
            <br> when I was among those guys running to help the people stuck under rubbles.
            <br>during this moments the one and the only question you will hear is: <strong> ANYBODY HERE? </strong>
            <br><br>The hours, the minutes and even the Seconds might be a reason to give someone a new life. calling again and again...
            <strong>ANYBODY HERE?</strong>, feeling bad if any one left behind with no help.
            <br>
            <br>
            <strong>ANYBODY HERE? </strong> it's the reason to start, and here where we are: EIH - "EVERY LIFE MATTERS".
        </p>
        <hr class="style-eight">
        <div class="profile_image">
        </div>
        <h1>Osama Abou Hajar</h1>
        <h2>Software Development Engineer</h2>
        <h2>Institute of Technology Carlow</h2>
        <h5>Supervisor: Paul Barry</h5>

    </div>
</div>
{% endblock %}