{% extends "base.html" %} {% block body %} {% if session['fail_login'] is sameas true %}

<body onload="loginForm()">
    {% endif %}

    <div class="page1">
        <div class="center" id="p1">
            <!-- <img src="static/logo.png" class="center logo"></img> -->
            <div class="center logo"></div>
            <h4>Enter Address or EirCode to search</h4>
            <form action='/displayResults' method='POST'>
                {% include 'googlAutoComplete.html' %}
            </form>
        </div>
    </div>
    <!-- To HIDE OR SHOW THE ALERT -->
    {% if alert is sameas false %}
    <div id="alert" class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" onclick="deleteItems()">&times;</a>
        <strong>Alert!</strong> The Entered Address <b>{{session['building_name_send']}}</b> Has No Date In Our DataBase.
    </div>

    {% endif %} {% endblock %}

    <script>
        $("form").keypress(function(e) {
            //Enter key
            if (e.which == 13) {
                return false;
            }
        });
    </script>