{% extends "base.html" %} {% block body %}

<div class="pageus">
    <div class="center" id="pus">
        <!-- <img src="static/logo.png" class="center logo"></img> -->
        <div class="center logo"></div>
        <h4>EMERGENCY INFO HUB</h4>
        <p>Emergency Info Hub (EIH), Is a central website helps the emergency services to prepare for, respond to & recover from disaster, by providing all needed data for the targeted building (E.g. Number of people, area size and emergency exits).
            <br> <br>The main objective of this project is giving the number of trapped people under rubbles or inside a building, by tracking their number using a simple movement sensor fitted on the main gate and face detection technology, and save
            this number to the cloud to be used when a disaster happens.
        </p>
        <div class="profile_image">
        </div>
        <h1>Osama Abou Hajar</h1>
        <h2>Software Development Engineer
        </h2>
    </div>
</div>
{% endblock %}