{% extends "base.html" %} {% block body %}
<div class="page2">
    <div class="resultAllLocations">
        <h2>All Locations</h2>
        <div class="table-wrapper">
            <table class="fl-table" id="example">
                <thead>
                    <tr>
                        {% if session["loged_in"] is defined %}

                        <th>#</th>
                        <th>Building ID</th>

                        {% endif %}

                        <th>Building Name</th>
                        <th>Address</th>
                        <th>Eircode</th>
                        <th>Number Inside</th>
                        <th>Last Update</th>
                    </tr>
                </thead>
                <tbody>
                    <form action='/resetLocation' method='POST'>
                        {% if session["loged_in"] is defined %}

                        <input type="submit" name="action" value="Reset" class=" buttonreset" onclick="checkbox_check();"></input>
                        <input type="submit" name="action" value="Update" class=" buttonreset" onclick="checkbox_check();"></input>
                        <input type="submit" name="action" value="Delete" class=" buttonreset" onclick="checkbox_check();"></input>
                        {% endif %} {% for k, v in x.items(): %}

                        <tr>
                            {% if session["loged_in"] is defined %}

                            <td>
                                <input type="checkbox" name="reset_checkbox" id="reset_checkbox" value="{{ k }}">
                            </td>
                            <td id="{{k}}">{{ k }}</td>
                            {% endif %}
                            <td name="known_name" id="known_name" contenteditable>{{ v.known_name }}</td>
                            <td name="address" id="address" value="{{ v.address }}" contenteditable>{{ v.address }}</td>
                            <input type="hidden" name="{{k}}" value="{{ v.address }}" />
                            <td name="eircode" id="eircode" value="{{ v.eircode }}" contenteditable>{{ v.eircode }}</td>
                            <input type="hidden" name="{{k}}" value="{{ v.eircode }}" />
                            <td name="numberOfPeopleINDetect" id="numberOfPeopleINDetect" value="{{ v.numberOfPeopleINDetect }}">{{ v.numberOfPeopleINDetect }}</td>
                            <input type="hidden" name="{{k}}" value="{{ v.numberOfPeopleINDetect }}" />
                            <td name="timeUpdated" id="timeUpdated" value="{{ v.timeUpdated }}" contenteditable>{{ v.timeUpdated }}</td>
                        </tr>
                        {% endfor %}
                    </form>
                    <br>
                </tbody>
            </table>
        </div>
        <span class="tableinstraction">*Double click on the field to edit.</span>

    </div>
</div>

<script>
    function checkbox_check() {
        checked = document.getElementById('reset_checkbox').checked;
        if (checked == true) {
            therespond = confirm('Do you to reset the selected IDs?');
            return therespond
        } else {
            alert("YOU HAVE TO SELECT ONE PLACE AT LEAST!!");
            return false
        }
    }
</script>
{% endblock %}