<!doctype html>
<html>

<head>
    <title>{{ the_title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/EIH.css">

</head>

<body>
    <br>{% include 'nav.html' %}
    <br>{% include 'loginForm.html' %}
    <h1>{{ the_title }}</h1>

    {% block body %} {% endblock %}

    <p>
        <div class="footer"> &copy; 2020 by Osama Abou Hajar. All Rights Reserved.</div>
        <div class="socialMedia">
            <a href="https://github.com/OAbouHajar" class="fa fa-github" target="_blank"></a>
            <a href="https://www.linkedin.com/in/osamaabouhajar/" class="fa fa-linkedin" target="_blank"></a>
            <a href="http://glasnost.itcarlow.ie/~softeng4/C00220135/index.html" class="fa fa-rss" target="blank"></a>
        </div>
    </p>
</body>

</html>