<!DOCTYPE html>
<html>

<head>
    <style>
        /* Set the size of the div element that contains the map */
        
        #map {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            height: 100px;
            border-radius: 10px/* The height is 400 pixels */
            /* The width is the width of the web page */
        }
    </style>
</head>

<body>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {
                lat: 52.8272683,
                lng: -6.9383947,
            };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 4,
                    center: uluru
                });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8zXNNHAVQwNfZfZBFHWD0VFglAz26VNI&callback=initMap">
    </script>
</body>

</html>