<!DOCTYPE html>
<html>

<head>
    <style>
        /* Set the size of the div element that contains the map */
        
        #map {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            height: 200px;
            border-radius: 10px/* The height is 400 pixels */
            /* The width is the width of the web page */
        }
    </style>
</head>

<body onload="initialize()">
    <div id="map"></div>
    <!-- <div>
        <input id="address" type="textbox" value="Sydney, NSW">
        <input type="button" value="Encode" onclick="codeAddress()">
    </div> -->
</body>
<script>
    var geocoder;
    var map;

    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var mapOptions = {
            zoom: 15,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        codeAddress();
    }

    function codeAddress() {
        var address = document.getElementById('resultsLable').innerHTML;

        geocoder.geocode({
            'address': address
        }, function(results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8zXNNHAVQwNfZfZBFHWD0VFglAz26VNI&callback=initMap">
</script>

</html>