{% extends "base.html" %} {% block body %}
<div class="page2">
    <div class="resultAllLocations">
        <h2>All Locations</h2>
        <div class="table-wrapper">
            <table class="fl-table" id="allLocation">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Building ID</th>
                        <th>Building Name</th>
                        <th>Address</th>
                        <th>Eircode</th>
                        <th>Number Inside</th>
                        <th>Last Update</th>
                    </tr>
                </thead>
                <tbody>
                    <form action='/resetLocation' method='POST'>
                        <tr></tr>
                    </form>
                    <br>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script>
    function add_new() {
        therespond = confirm('DO YOU WANT TO ADD THE NEW DATA?');
        return therespond
    }
</script>
{% endblock %}