html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url(/static/home-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#contextMenu {
    position: absolute;
    display: none;
}

.buttonreset2 {
    border: none;
    padding: 9px 15px;
    text-align: left;
    text-decoration: none;
    font-size: 19px;
    width: 57%;
    background-color: #e2c449;
    color: #000000;
    border-bottom: 1px solid black;
}

.buttonreset2:hover {
    background-color: #173242;
    color: white;
}

.buttonsContainer {
    display: contents;
}

#myInput {
    background-image: url(/static/searchicon.png);
    background-position: 0px -0px;
    background-repeat: no-repeat;
    background-size: 5%;
    width: 55%;
    font-size: 16px;
    padding: 14px 6px 11px 48px;
    border: 1px solid #ddd;
    margin-bottom: 4px;
    margin-right: 1%;
}

#allLocation tr:hover {
    background-color: #e7f1ff;
}

input[name=thelocation],
input[type=email] {
    padding: 15px 20px;
    margin-left: 20%;
    box-sizing: border-box;
    border: 2px yellow;
    border-radius: 4px;
    width: 50%;
    display: inline-block;
}

input[name=loginInput],
input[name=loginPass] {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px yellow;
    border-radius: 4px;
    width: 37%;
    margin-bottom: 3%;
}

.userlogin {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 4%;
    font-size: -webkit-xxx-large;
    margin-bottom: 6%;
    margin-top: 4%;
}

.loginStyle {
    margin-left: 36%;
}

textarea {
    padding: 12px 20px;
    margin-left: 16%;
    box-sizing: border-box;
    border: 2px yellow;
    border-radius: 4px;
    width: 50%;
    height: 100%;
    display: inline-block;
    max-width: 500px;
}

.logo {
    height: 185px;
    width: 200px;
    display: block;
    margin: auto;
    content: url(/static/logo.png);
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 14px 55px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.buttonContactUs {
    /* Green */
    border: none;
    color: white;
    padding: 12px 55px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.buttonLogOUT {
    border: none;
    color: white;
    padding: 12px 55px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 11%;
}

.buttonLogIN {
    border: none;
    color: white;
    padding: 12px 55px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 11%;
}

.buttonreset {
    border: none;
    color: white;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0px;
    margin-bottom: 1%;
    margin-right: 4.5px;
    background-color: #ffffffb0;
    color: #4e4600;
}

.buttonAddsimple {
    padding: 7px 25px 10px 24px;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0px;
    margin-bottom: 1%;
    margin-right: 4.5px;
    background-color: #ffffffb0;
    color: #4e4600;
    left: 86%;
    position: sticky;
    width: 11%;
    font-size: 25px;
    border: none;
}

.buttonAdd:disabled {
    background-color: #8a8787;
}

.buttonreset:hover {
    background-color: #324960;
    color: rgb(255, 255, 255);
}

.button3 {
    background-color: #e2c449;
    color: black;
    /* border: 2px solid #9c9c7b; */
}

.button4 {
    background-color: #ec6161;
    border: 2px solid #9c9c7b;
}

.Back {
    background-color: #f7f588;
    color: black;
    border: 2px solid #9c9c7b;
}

.buttonBack {
    display: block;
    margin: auto;
}

.buttonAlignContactFrom {
    display: inline;
    margin: auto;
}

.button3:hover {
    background-color: #9c9c7b;
    color: black;
}

.button4:hover {
    background-color: #9c9c7b;
    color: black;
}

.center {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-size: 52px;
    margin: auto;
}

h2 {
    text-align: center;
    color: #f7f588;
    margin: auto;
    font-size: 39px;
}

h3 {
    text-align: center;
    color: #860b0b;
    margin: auto;
    padding-top: 77px;
}

.tableinstraction {
    /* text-align: center; */
    /* letter-spacing: 1px; */
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    color: #f6f288;
    text-transform: uppercase;
    font-weight: 500;
}

.footer {
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p1 h4 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #e2c449;
    text-transform: uppercase;
    font-weight: 500;
}

.page1 {
    padding: 5% 2% 4% 2%;
    margin: auto;
}

.page2 {
    padding: 10% 2% 4% 2%;
    margin: auto;
}

.result {
    display: block;
    margin: auto;
    background-color: rgba(4, 29, 53, 0.58);
    border-radius: 12px;
    padding: 2% 2%;
    width: 80%;
    margin-bottom: 2%;
    border: 2px solid #b39004;
}

.result label {
    color: aliceblue;
    margin-right: 25%;
    font-size: x-large;
}

.result label {
    color: aliceblue;
    margin-right: 25%;
    font-size: x-large;
}

.resultsLable {
    color: #eac119;
    font-size: 19px;
}

.loginLable {
    color: rgb(243, 217, 23);
    font-size: x-large;
}

.searchResults {
    color: rgb(251, 88, 74);
    font-size: x-large;
}


/* Contact Form */

.contact {
    display: block;
    margin: auto;
    background-color: rgba(153, 182, 200, 0.678);
    border: 2px solid red;
    padding: 10px;
    border: 2px solid #f7f588;
    padding: 10px;
    border-radius: 15px;
    padding: 2% 2%;
    width: 60%;
    margin-bottom: 2%;
}

.contact label {
    color: aliceblue;
    margin-right: 10%;
    font-size: x-large;
}


/*socila Media*/

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 15%;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 5;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #f0f0f0;
    color: rgba(0, 0, 0, 0.89)
}

.fa-rss {
    background: #ff6600;
    color: white;
}

.alert {
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -2%;
    margin-bottom: 3%;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #8e1212;
}

.alertFailLog {
    padding: 15px;
    padding-left: 35px;
    margin-left: 0%;
    /* margin-right: 62%; */
    margin-top: 0%;
    margin-bottom: 0%;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #8e1212;
    width: 30%;
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -12px;
    right: 1px;
    color: white;
}

.fade.in {
    opacity: 1;
}

.alert-danger {
    color: #ffffff;
    background-color: #ad1d1da6;
    border-color: #dec86e;
}

.alert-okay {
    color: #961818;
    background-color: #a5c131cc;
    border-color: #251e02;
}

.close {
    float: right;
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

a {
    background-color: transparent;
}


/*for Mobile*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    html,
    body {
        background-position: bottom;
    }
    input[type=text],
    input[type=email],
    textarea {
        margin-left: 2%;
        width: 95%;
    }
    [class*="button"] {
        padding: 10px 35px;
        font-size: 16px;
        margin-left: 32%;
        margin-top: 4%;
    }
    .logo {
        height: 150px;
        width: 165px;
    }
    [class*="fa"] {
        padding: 7px;
        font-size: 15px;
        width: 3;
    }
    [class*="footer"] {
        margin-top: 18%;
        font-size: 11px;
    }
    #p1 h4 {
        font-size: 14px;
        padding-top: 10px;
    }
    .page1 {
        padding: 25% 2% 4% 2%;
    }
    .page2 {
        padding: 25% 2% 4% 2%;
    }
    .result {
        width: 90%;
    }
    .result label {
        margin-right: 3%;
        font-size: large;
    }
    .searchResults {
        font-size: large;
    }
    .buttonBack {
        display: block;
        margin: auto;
        font-size: large;
    }
    .buttonreset {
        margin-left: 1%;
        padding: 13px 28px;
        font-size: 22px;
    }
    .buttonAddsimple {
        margin-left: 1%;
        margin-top: auto;
        width: 78%;
    }
    #myInput {
        background-image: url(/static/searchicon.png);
        background-position: 0px -0px;
        background-repeat: no-repeat;
        background-size: 18%;
        width: 83%;
        font-size: 16px;
        /* padding: 14px 6px 11px 48px; */
        border: 1px solid #ddd;
        margin-bottom: 6px;
        margin-left: 0.5%;
    }
    .userlogin {
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 4%;
        font-size: 50px;
        margin-bottom: 6%;
        margin-top: 25%;
        margin-left: -2%;
    }
    input[name=loginInput],
    input[name=loginPass] {
        width: 85%;
    }
    .loginLable {
        color: rgb(243, 217, 23);
        font-size: x-large;
    }
    .loginStyle {
        margin-left: 8%;
    }
    .buttonContactUs {
        margin-left: 3%;
        width: -webkit-fill-available;
    }
    .alert {
        padding: 15px;
        margin-left: 8%;
        margin-right: 6%;
        margin-top: 3%;
        margin-bottom: 3%;
        border: 1px solid #fffbfb00;
        border-radius: 3px;
        color: #ffffff;
    }
    .socialMedia {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 15%;
    }
}


/* Table Styles */

.resultAllLocations {
    display: block;
    margin: auto;
    background-color: rgba(26, 103, 115, 0.34);
    border-radius: 12px;
    padding: 2% 2%;
    width: auto;
    margin-bottom: 2%;
    border: 2px solid #b39004;
}

.table-wrapper {
    margin: 31px 0px 31px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    border: #fff;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
    margin-top: 1%;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 15px;
}

.fl-table thead th {
    color: #ffffff;
    background: rgb(149, 138, 33);
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}


/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child {
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td,
    .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}


/*     log in form */